
  
* {
    box-sizing: border-box;

    --cor-fundo-tela-login: #E5E5E5;
    --cor-azul: #126BA5;
  }
  
  body {
    width: 100vw; 
    height: 100vh;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }